.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Demo-header {
  background-color: #222;
  height: 100px;
  /*padding: 20px;*/
  /*color: white;*/
  background-image: url('./common/assets/bacLogo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Demo-home {
  position: relative;
  height: 100%;
  color: blue;

}
